@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
.hero-section {
  position: relative;
  color: white;
  background-color: #ACC18A;
  padding: 100px;
  overflow: hidden;
}
.site-background {
  background-color: #F2FBE0;
}

.extra-light-green {
  background-color: #F2FBE0;
}
.light-green {
  background-color: #DAFEB7;
}
.green {
  background-color: #ACC18A;
}
.clay {
  background-color: #837A75;
}
.dark-clay {
  background-color: #605B56;
}


