@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
.hero-section {
  position: relative;
  color: white;
  background-color: #8E8B82;
  padding: 100px;
  overflow: hidden;
}
.site-background {
  background-color: #F3F3F3;
}

.c1 {
  background-color: #F3F3F3;
}
.c2 {
  background-color: #E9DCBE;
}
.c3 {
  background-color: #8E8B82;
}
.c4 {
  background-color: #343434;
}


.c1-text {
  color: #F3F3F3;
}
.c2-text {
  color: #E9DCBE;
}
.c3-text {
  color: #8E8B82;
}
.c4-text {
  color: #343434;
}


